
.container{
    border: 1px solid black;
    width: 80%;
    height: 100vh;display: flex;
    justify-content: center;
    align-items: center;
}
.hex-colors{
    border: 1px solid black;
    text-align: center;
    padding: 20px;
}
.hex-colors h1{
    font-size: 2rem;
    text-transform: uppercase;
    animation: changeColor 5s infinite alternate ;
}
.hex-colors h2{
    border: 1px solid black;
    font-size: 2rem;
    margin-top: 15%;
}

@keyframes changeColor{
    0%{
        color: blue;
    }
    20%{
        color: red;
    }
    40%{
        color: green;
    }
    60%{
        color: violet;
    }
    80%{
        color: indigo;
    }
    100%{
        color: pink;
    }
}